* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px red solid;
    display: grid;
    height:700px;
    /* gap: 10px; */
    row-gap: 18px;
    column-gap: 6px;
    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: repeat(5, 200px); */
    /* grid-template-rows: auto; */
    /* overflow: auto; */
    /* justify-content: space-between; */
    /* align-content: start; */
}

.box {
    border: 1px solid green;
    padding: 12px;
    /* margin: 1px; */
    overflow: auto;
}

#box-5{
    background-color: bisque;
    /* justify-self: center; */
    /* align-self:  end; */
/*     
    grid-column-start: 1;
    grid-column-end: 5; 
    */
    grid-column: 1/ 4;
    grid-row: 1/4;

    grid-area: 1/3/3/4;
    /* row start/column start/row end/ column end */
}