body{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color: #db5230b7;
    background-color: #e0f90578;
}
article{
    background-color: #90ee90;
    padding: 45;
    margin:auto;
    font-size: 16px;
    border-radius: 15%;
}