*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    font-size:1.2rem;
}
.container{
    min-height:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    background: linear-gradient(to right, #041308, #0b3317);

}

.left{
    flex-basis:25%;
}
.left h2{
    color:bisque;
    font-size:3rem;
    text-align: center;
    text-shadow:1px 1.2px 0.5px bisque;
}
.left p{
    color:#ddd;
    margin-top:10px;
    text-align: center;
    text-shadow: 1px 1px 0.2px #ddd;
}
.right{
    flex-basis: 50%;
    display:grid;
    grid-template-columns: repeat(3, 2fr);
    gap:8px;
    grid-auto-rows: 120px;
}

.child-imgs{
    background-size: cover;
    background-position: top;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease;
    cursor: pointer;
}
.child-imgs:hover{
    background-color:  #999;
    background-position: center;
}

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}

.forest{
    font-size:larger;
}